
main{
    background-color: #E0F2C4;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: #3F7E8C;
    font-size: 30px;
}
pre{
    font-size: 20px;
    color: #3F7E8C;
}